* {
    padding: 0;
    margin: 0;
}

body {
  background-color: rgba(179, 233, 255, 0.63);
  margin: 0;
  border: 0;
  padding-top: 25%;
  height: 100%;
  width: 100%;
  font-family: rubik;
  color: white;
  box-sizing: border-box;
  animation: fadeIn 2s;
}

// HEADER
header {
    width: 100%;
    height: 25%;
    background-image: url("/assets/images/pokedex-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
}

.title {
    width: 100%;
    height: 70%;
    background-image: url("/assets/images/pokedex-title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 0 20px 0;
    animation: fadeIn 2s;
    z-index: 2;
}

// FOOTER

footer {
    width: 100%;
    height: 25%;
    position: fixed;        
    background-image: url("/assets/images/pokedex-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    bottom: 0%;
    margin: 0;
    z-index: 2;
    opacity: 1;
}

// MAIN

main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    margin: 0 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
  }

// CARDS

.card {
    width: 80px;
    height: 115px;
    list-style: none;
    padding: 5px;
    background-color: #ffffffb7;
    color: #222;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
        transition: 0.2s;
        box-shadow: 0 0 15px 10px inset rgb(255, 255, 255);
    }
}

.card-title {
    width: 100%;
    text-transform: uppercase;
    font-size: 9px;
    color: #222;
    font-weight: bold;
    margin: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
}

.card-image {
    width: 100%;
    height: 90px;
    object-fit: contain;
    padding: 5px;
}

#pokedex {
    width: 100%;
    max-width: 1080px;
    padding-top: calc(100vh - 70vh);
    padding-bottom: calc(100vh - 70vh);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow: auto;
    animation: fadeIn 7s; 
}


// @keyframes bounce {
//   20% {
//     transform: translateY(-6px);
//   }
//   40% {
//     transform: translateY(0px);
//   }
//   60% {
//     transform: translateY(-2px);
//   }
//   80% {
//     transform: translateY(-0px);
//   }
// }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }  


// SCROLLBAR - CUSTOM

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f19a; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.568); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(252, 235, 1, 0.822); 
  }



// POKEMON CLASSES

.grass {box-shadow: 0 0 40px 10px inset rgba(29, 204, 23, 0.712);}

.fire {box-shadow: 0 0 40px 10px inset rgba(255, 0, 0, 0.445);}

.water {box-shadow: 0 0 40px 10px inset rgba(0, 119, 255, 0.445);}

.bug {box-shadow: 0 0 40px 10px inset rgba(195, 250, 106, 0.692);}

.normal {box-shadow: 0 0 40px 10px inset rgba(255, 255, 255, 0.685);}

.poison {box-shadow: 0 0 40px 10px inset rgba(197, 16, 233, 0.466);}

.electric {box-shadow: 0 0 40px 10px inset rgba(251, 255, 5, 0.795);}

.ground {box-shadow: 0 0 40px 10px inset rgba(99, 38, 10, 0.651);}

.fighting {box-shadow: 0 0 40px 10px inset rgba(255, 86, 8, 0.685);}

.fairy {box-shadow: 0 0 40px 10px inset rgba(250, 164, 236, 0.808);}

.psychic {box-shadow: 0 0 40px 10px inset rgba(132, 0, 255, 0.664);}

.rock {box-shadow: 0 0 40px 10px inset rgba(82, 82, 82, 0.336);}

.ice {box-shadow: 0 0 40px 10px inset rgba(0, 225, 255, 0.822);}

.dragon {box-shadow: 0 0 40px 10px inset rgba(255, 0, 98, 0.808);}