* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(65, 65, 65);
  margin: 0;
  border: 0;
  padding-top: 25%;
  height: 100%;
  width: 100%;
  font-family: rubik;
  color: white;
  box-sizing: border-box;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

header {
  width: 100%;
  height: 25%;
  background-image: url("/assets/images/pokedex-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  margin: 0;
  position: fixed;
  z-index: 1;
}

.title {
  width: 100%;
  height: 70%;
  background-image: url("/assets/images/pokedex-title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px 0 20px 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  z-index: 2;
}

footer {
  width: 100%;
  height: 25%;
  position: fixed;
  background-image: url("/assets/images/pokedex-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0%;
  margin: 0;
  z-index: 2;
  opacity: 1;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  margin: 0 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

.card {
  width: 100px;
  height: 100px;
  list-style: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5803921569);
  color: #222;
  text-align: center;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: url("https://img.icons8.com/color/48/null/open-pokeball--v2.png"), pointer;
}

.card-title {
  width: 100%;
  text-transform: uppercase;
  font-size: 9px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}

.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}

.card-image {
  width: 100%;
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
  transition: 0.2s;
}
.card-image:hover {
  transform: scale(1.5);
  transition: 0.2s;
}

#pokedex {
  width: 100%;
  max-width: 1080px;
  padding-top: 30vh;
  padding-bottom: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow: scroll;
  -webkit-animation: fadeIn 7s;
          animation: fadeIn 7s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.6039215686);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.568);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(252, 235, 1, 0.822);
}

.grass {
  background-color: rgb(102, 155, 100);
}

.fire {
  background-color: rgba(255, 103, 103, 0.747);
}

.water {
  background-color: rgb(116, 165, 221);
}

.bug {
  background-color: rgb(123, 167, 118);
}

.normal {
  background-color: rgb(172, 172, 172);
}

.poison {
  background-color: rgba(229, 99, 255, 0.74);
}

.electric {
  background-color: rgb(255, 234, 116);
}

.ground {
  background-color: rgba(163, 90, 56, 0.781);
}

.fighting {
  background-color: rgba(253, 140, 64, 0.795);
}

.fairy {
  background-color: rgba(255, 197, 245, 0.842);
}

.psychic {
  background-color: rgba(155, 48, 255, 0.733);
}

.rock {
  background-color: rgba(105, 105, 105, 0.801);
}

.ice {
  background-color: rgba(109, 238, 255, 0.733);
}

.dragon {
  background-color: rgba(255, 81, 148, 0.774);
}

.legendary {
  box-shadow: 0 0 25px 10px inset rgb(255, 166, 0);
}

.flying {
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/Flying type.ico");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 90%;
  left: 40%;
}

.ghost {
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/Ghost type.ico");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 90%;
  left: 40%;
}

.fullCard {
  width: 100%;
  height: 100vh;
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: 0.5s;
}

.cardBottom {
  width: 80%;
  max-height: 50vh;
  position: absolute;
  bottom: 0;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon--name {
  width: 100%;
  font-size: 36px;
  padding: 20px 0 40px 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon--Types {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.pokemon--Types--type {
  width: 60px;
  height: 20px;
  text-align: center;
}
.pokemon--BaseStats {
  width: 80%;
  font-size: 16px;
  text-align: center;
  margin: 10px 0 10px 0;
}
.pokemon--HP {
  width: 80%;
  height: 18px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: red;
  padding-left: 10px;
  padding-top: 3px;
  text-align: left;
  border-radius: 50px;
  margin: 10px 0 10px 0;
}
.pokemon--Attack {
  width: 80%;
  height: 18px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgb(255, 187, 0);
  padding-left: 10px;
  padding-top: 3px;
  text-align: left;
  border-radius: 50px;
  margin: 10px 0 10px 0;
}
.pokemon--Defense {
  width: 80%;
  height: 18px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgb(0, 110, 255);
  padding-left: 10px;
  padding-top: 3px;
  text-align: left;
  border-radius: 50px;
  margin: 10px 0 10px 0;
}
.pokemon--Speed {
  width: 80%;
  height: 18px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgb(119, 119, 119);
  padding-left: 10px;
  padding-top: 3px;
  text-align: left;
  border-radius: 50px;
  margin: 10px 0 10px 0;
}
.pokemon--Exp {
  width: 80%;
  height: 18px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: rgb(49, 151, 46);
  padding-left: 10px;
  padding-top: 3px;
  text-align: left;
  border-radius: 50px;
  margin: 10px 0 10px 0;
}

.card--Top {
  width: 100%;
  height: 45vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.card--Exit {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card--Img {
  width: 80%;
  max-width: 400px;
  height: 35vh;
  margin-top: 5%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=pokeapi.css.map */